<%- include('../partials/header') %>
<main>
    <h1>Product Tester Dashboard</h1>

    <!-- Overview -->
    <div>
        <h2>Overview</h2>
        <div>
            <div>
                <h3><a href="/producttesterdashboard/reviews">All Reviews</a></h3>
                <p><%= reviews.length %></p>
            </div>
        </div>
    </div>
</main>
<%- include('../partials/footer') %>