<%- include('../../partials/header') %>
<main>
    <h1>Create Account</h1>

    <form action="/register" method="POST">
        <!-- Name field -->
        <label for="name">Full Name</label>
        <input type="text" id="name" name="name" placeholder="Enter first and last name" minlength="2" required>

        <!-- Email field -->
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>

        <!-- Password field -->
        <label for="password">Password</label>
        <input type="password" id="password" name="password" pattern="(?=.*[0-9])(?=.*[!@#$%^&*]).*" minlength="8" required>
        <div class="help-text">
                 Must be at least 8 characters and contain a number and special character
        </div>

        <label for="passwordConfirm">Password Confirmation</label>
            <input type="password" id="passwordConfirm" name="passwordConfirm" pattern="(?=.*[0-9])(?=.*[!@#$%^&*]).*" minlength="8" required>

        <button type="submit">Create Account</button>
    </form>

    <p>Already have an account? <a href="/login">Login here</a></p>
</main>
<%- include('../../partials/footer') %>