<%- include('partials/header') %>
<main>
    <h1>About Dusty Tennis Shop</h1>
    <p>We want to be the main supplier of tennis gear and equipment for all. </p>
</main>
<%- include('partials/footer') %>